<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 模态框（Modal） -->
<!-- modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">修改歌手信息</h4>
            </div>
            <form role="form" action="KnowUpdateServlet" method="post" id="fm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name1">歌手姓名</label> <input type="text"
                                                               class="form-control" id="title2" placeholder="请输入标题"
                                                               name="title">
                    </div>
                    <div class="form-group">
                        <label for="name2">出生日期</label> <input type="text"
                                                               class="form-control" id="title2" placeholder="请输入标题"
                                                               name="title">
                    </div>
                    <div class="form-group">
                        <label for="name3">所属地区</label> <input type="text"
                                                               class="form-control" id="title2" placeholder="请输入标题"
                                                               name="title">
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                关闭</button>
            <button type="button" class="btn btn-primary" id="btn3">确认修改</button>
        </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<div class="container">
    <h3>歌手信息</h3>
    <h6 align="right"><a href="savesinger.html" >发布歌手信息</a></h6>
    <table class="table">
        <thead>
        <tr>
            <th>歌手编号</th>
            <th>歌手名字</th>
            <th>出生日期</th>
            <th>所属地区</th>
            <th>删除信息</th>
            <th>修改信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="td1"></td>
            <td id="td2">Doe</td>
            <td id="td3">john</td>
            <td id="td4">john</td>
            <td><button class="del">删除</button></td>
            <td><button class="update" id=""
                        data-toggle="modal" data-target="#myModal2">修改</button></td>
        </tr>

        </tbody>
    </table>
</div>
<script>
    var b = function fun1() {
        alert("111");
        //获取删除连接
        var odel = document.getElementsByClassName("del");
        //给每一个连接添加点击事件
        var i = $($(this).parent().parent().children("td").get(0)).html();
        //询问是否确认删除
        var rs = confirm("确定删除此条信息吗？");
        if (!rs) {
            return false;
            window.location.reload();
        }

    }

    //修改
    var odel = document.getElementsByClassName("update");
    var i = $($(this).parent().parent().children("td").get(0)).html();
    id = i;
    var json = JSON.parse(data);
    $("#").val(json["title"]);
    $("#details2").val(json["content"]);
    $("#type2").val(json["reside"]);

</script>
</body>
</html>