<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
</head>
<body>
<div class="container">
    <h3>新歌速递</h3>

    <table class="table">
        <thead>
        <tr>
            <th>歌曲编号</th>
            <th>歌曲名字</th>
            <th>歌曲链接</th>
            <th>歌手编号</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john</td>
            <td>john</td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>